@page
@model snackSite.Pages.CRUDGebruikers.Index



<div class="row">
    <div class="col">
        <h1>Display gebruikers</h1>

        <a asp-page="@nameof(Create)" class="btn btn-primary">Create New Category</a>
        <hr>
        <table class="table table-striped">
            <tbody>
            <thead>
                <tr>
                    <th style="text-align: justify">GebruikerId</th>
                    <th style="text-align: justify">Naam</th>
                    <th style="text-align: justify">Wachtwoord</th>
                    <th style="text-align: justify">Email</th>

                </tr>
            </thead>
            <tbody>

                    @foreach (var gebruikers in Model.Gebruikers)
                    {
                    <tr>
                        <td>@gebruikers.GebruikerId</td>
                        <td>@gebruikers.Naam</td>
                        <td>@gebruikers.Wachtwoord</td>
                        <td>@gebruikers.Email</td>

                        <td>
                            <a asp-page="@nameof(Delete)" asp-route-gebruikerId="@gebruikers.GebruikerId" class="btn btn-danger">Delete</a> |
                            <a asp-page="@nameof(Update)" asp-route-gebruikerId="@gebruikers.GebruikerId" class="btn btn-info">Update</a>
                        </td>
                    </tr>
                    }

            </tbody>
        </table>
    </div>
</div>