@page
@using snackSite.Models
@model snackSite.Pages.CRUDProducten.Index



<div class="row">
    <div class="col">
        <h1>Display Producten</h1>

        <a asp-page="@nameof(Create)" class="btn btn-primary">Create New Product</a>
        <hr>
        <table class="table table-striped">
            <tbody>
            <thead>
            <tr>
                <th style="text-align: justify">ProductID</th>
                <th style="text-align: justify">Product</th>
                <th style="text-align: justify">Beschrijving</th>
                <th style="text-align: justify">Categorie</th>
                <th style="text-align: justify">Prijs<th/>
                <th style="text-align: justify">Aanbieder</th>
                
               

            </tr>
            </thead>
            <tbody>

            @foreach (var producten in Model.Producten)
            {
                <tr>
                    <td>@producten.ProductId</td>
                    <td>@producten.ProductNaam</td>
                    <td>@producten.Productbeschrijving</td>
                    <td>@producten.ProductCategorie</td>
                    <td>@producten.ProductPrijs</td>
                   
                    
                    
                    <td>
                        <a asp-page="@nameof(Delete)" asp-route-productId="@producten.ProductId" class="btn btn-danger">Delete</a> |
                        <a asp-page="@nameof(Update)" asp-route-productId="@producten.ProductId" class="btn btn-info">Update</a>
                    </td>
                </tr>
            }

            </tbody>
        </table>
    </div>
</div>